{% extends 'base.html' %}

{% block hero %}
<section class="hero is-fullheight">
  <div class="hero-body has-text-centered">
    <div class="container">
      <p class="title has-text-light">Welcome to Website App</p>
      <p class="subtitle has-text-light">Made with Flask</p>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}

    <article class="message is-info">
      <div class="message-header">
        <p>Current Message</p>
      </div>
      <blockquote class="message-body is-size-4">
        {{ session["message"]}}
      </blockquote>
    </article>
    <section class="section">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus
        laudantium iusto, impedit autem error minima harum fugiat doloribus
        provident est vel. Incidunt nulla blanditiis numquam commodi quos facere
        voluptatibus ea.
      </p>
    </section>
{% endblock %}
